h1{
font-family: 'Macondo', cursive;
color: purple;
}
h2{
font-family: 'Macondo', cursive;
color: purple;
}
h3{
font-family: 'Macondo', cursive;
color: purple;
}
.body{background:url('https://s-media-cache-ak0.pinimg.com/originals/22/04/5b/22045ba266a6dfb51175f32ff52f0ed1.jpg');
	height:75%;
	width:100%;
}
